.sepa_direct_debit h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}
.sepa_direct_debit .under-line {
    border-bottom: 1px solid;
}
.sepa_direct_debit input {
    vertical-align: baseline;
}
.sepa_direct_debit .card {
    border: 2px solid;
    margin-bottom: 4px;
}
.sepa_direct_debit .card-body {
    padding: 2px 14px;
}
.sepa_direct_debit p {
    margin: 0 0 4px;
    font-size: 8px;
}
.sepa_direct_debit .native_lang {
    font-style: italic;
}
.sepa_direct_debit .native_lang_small {
    font-size: 0.8em;
}
